/* header and navigation styles */
*{
    margin: 0;
    font-family: Works Sans;
    
}
.container{
    
}
.first-header{
    background-color: #f2e7d4 ;}

.navbar{
    display: flex;
    justify-content: space-between;
}
.nav-title{
font-size: 45px;
padding-left:240px;
padding-top: 50px;

}
.list-items{
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding-right: 217px;
    padding-top: 50px;
}

 ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 20px;
 }    

li a{
    text-decoration: none;
    font-size: 18px;
}
.architect-group{
   text-align: center;
   margin-top: 100px;
}
.architect-group-title{
    padding-top: 25px;
    font-size: 45px;
    font-weight: 700;
}
.architect-group-description{
    margin-left: 400px;
    margin-right: 400px;
}
.explore {

background-color: orange;
color: white;
width: 160px;
height: 50px;
margin-top: 20px;
margin-bottom: 20px;
border: 0;
border-radius: 12px;
font-size: 16px;



}
span{
    background-color: rgb(147, 172, 164);
    line-height: 1.6;
}
.picture{
    margin-left: 200px;
    margin-bottom: 20px;
}
.picture img{
    width:1200px;
    height:400px;

}
.main-grid{
    display: flex;
    justify-content: space-between;
}
.grid-pictures{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 100px;
    margin-left: 160px;
}
.grid-picture img{
    height: 300px;
    width: 300px;
}
.grid-description{
    margin-top: 250px;
    margin-right: 220px;
}
.love-enjoy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 220px
}
.love{
    
}
.love-love h1{
font-size: 30px;
border-left: 4px solid orange;
}
.joy-1{

    background-color: #f6f7f8;
    padding: 20px;
    margin-top: 10px;
}

   
.joy-2{
    background-color: #f6f7f8;
    padding: 30px;
    margin-top: 10px;
}
.joy-3{
    background-color: #f6f7f8;
    padding: 20px;
    margin-top: 10px;
}
.joy-4{
    background-color: #f6f7f8;
    padding: 20px;
    margin-top: 10px; 
}
.joy-1 .joy-2 .joy-3 .oy-4 h2{
    font-size: 20px;
}
.enjoy img{
   
    width: 500px;
    height: 800px;
    margin : 200px 200px 200px;


    
}
.box{
    background-color: orange;
    width: 200px;
    height: 120px;
    position: relative;
    left: 140px;
    top: -240px;
    color: white;
    padding-left:30px;
    padding-top: 20px;
}
/* fourth section start */
.facts{
    display: flex;
    flex-direction: column;
}
.facts-description h1{
    margin-left: 100px;
    margin-top: 30px;
}
.facts-description p{
    margin-top: 30px;
    margin-left: 100px;
    
}
.png-pic{
    display: flex;
    flex-direction: row;
   justify-content: space-evenly;
   
}
.icons{
    border: 2px solid orange;
    width: 200px;
    height: 200px;
    margin-top: 80px;
    margin-bottom: 150px;
    text-align: center;


}

.icons img{
   padding-top: 40px; 

}
.icons p{
    font-size: 40px;
}
.icons h3{

}
.sponsors{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.sponsor{
    margin-top: 50px;
    text-align: center;
}
.sponsor-pics{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin-top: 100px;
}
.copyright{
    background-color: rgb(246, 234, 212);
    margin-left: 120px;
    margin-right: 105px;
    height: 40px;
    text-align: center;
   margin-bottom: 300px;
   margin-top: 120px;
   padding-top: 30px;
    
}


  
